section.components
  color: #FFFFFF
  background-image: linear-gradient(-179deg, #449CC5 2%, #4497C4 100%)

  .content    
    h1
      text-align: center
      font-family: 'AvenirNextLTW01-UltraLi';
      font-size: 32px;
      letter-spacing: 5.71px;
      line-height: 44px;