section.intro
  background-image: linear-gradient(-179deg, #1A8CB9 2%, #1986B8 100%)
    
  .left-col
    col(2/3)
    color: white
    
    h2
      font-family: HelveticaNeue-Thin
      line-height: 42px
      margin: 2.5rem 0
      
    @media (max-width: $screen-md)
      stack()
    
  .right-col
    col(1/3)
    text-align: center
    
    @media (max-width: $screen-md)
      stack()
    