section.quote
  background-image: linear-gradient(-179deg, #4390C3 2%, #428DC3 100%)
  color: white
  
  .content
    text-align: center
    max-width: 840px
    margin: 4rem auto
    
    h1
      font-family: "HelveticaNeueW01-Thin", "HelveticaNeue-Thin" "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
      vertical-align: 39px
    
  .source
    margin-top: 2 rem
      
    h4
      display: inline-block
      margin-left: 2rem
      line-height: 64px
      vertical-align: top
      
      @media (max-width: $screen-xxs)
        display: block
        margin: 0

    .avatar
      display: inline-block
      height: 64px
      width: 64px
      border-radius: 64px
      background-color: white