.btn
  color: white
  padding: 0 20px
  border: 1px solid white
  font-family: HelveticaNeue-Thin
  line-height: 3rem
  text-decoration: none
  display: inline-block
  transition: all 0.2s ease-in-out
  
  &:hover
    color: #21aae1
    background-color: white