.prettyprint
  margin: 2.5rem 0
  font-family: Consolas, Monaco, 'Andale Mono', monospace
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  font-size: 14px
  background-color: #292929
  overflow: auto
  padding: 36px 8px
   
  .kwd
    color: #CB3BE6
    
  .typ, .fn
    color: #79D321
    
  .var
    color: #20B9E7
    
  .lit
    color: #B45FFF