.sub-nav
  text-align: center
  margin: 2rem 0
  
  li
    display: inline-block
    vertical-align: top
    margin: 1rem
    
    small
      display: block
      opacity: 0.5
      font-family: "HelveticaNeueW01-Thin", "HelveticaNeue-Thin" "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
      font-size: 12px
      color: #FFFFFF
      line-height: 15px
      margin: 0.3rem 0