@import 'nib'
@import 'jeet'

global-reset()

$screen-xxs = 525px
$screen-sm = 768px
$screen-md = 992px
$screen-lg = 1200px

html
  position: relative
  font-family: "HelveticaNeueW01-Thin", "HelveticaNeue-Thin" "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300

html, body
  height: 100%
  
h1
  font-size: 2rem // 32px
  
h2
  font-size: 1.75rem // 28px
  
h3
  font-size: 1.625rem // 26px
  
h4
  
h5
  font-size: 1.25rem // 20px
  
h6
  font-size: 1.125rem // 18px
  
p
  font-size: 1rem // Base 16px
  
.hide
  display: none
  
@import 'components/*'
@import 'sections/*'